<?xml version="1.0" encoding="UTF-8"?>
<widget 
    id="http://yourdomain/TizenPomodoroWeb" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:tizen="http://tizen.org/ns/widgets" 
    version="1.0.0" 
    viewmodes="maximized"
    >
    <tizen:application 
        id="Q0DSg4aWAp.TizenPomodoroWeb" 
        package="Q0DSg4aWAp" 
        required_version="2.3.1"
    />
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Pomodoro</name>
    <tizen:privilege name="http://tizen.org/privilege/alarm"/>
    <tizen:privilege name="http://tizen.org/privilege/power"/>
    <tizen:profile name="wearable"/>
</widget>
